html, body {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: Roboto;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    padding-bottom: 64px;
}

    .hero .hero-left, .hero .hero-right {
        width: 22%;
    }

    .hero .hero-left .header-left, .hero .hero-right .header-right {
        padding-top: 8px;
        padding-bottom: 16px;
    }

        .hero .hero-left .hero-content h1 {
            font-size: 48px;
            font-weight: 900;
            color: #f9faf8;
        }

        .hero .hero-left .hero-content p {
            font-size: 18px;
            color: #E5E7EB;
        }

        .hero .hero-left button {
            color: white;
            padding: 8px 32px;
            border-radius: 4px;
            border: none;
            font-weight: 900;
        }

        .hero .hero-left .header-left {
            font-size: 24px;
            color: #f9faf8;
            align-items: center;
        }

    .hero .hero-right {
        display: flex;
        flex-direction: column;
        align-items: end;
        margin-left: 32px;
    }

    .hero .hero-img {
        margin-top: 50px;
        border: 1px solid gray;
        background-color: gray;
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .hero .hero-img p {
            color: white;        
        }

    .hero .hero-right .header-right ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 16px;
    }

    .hero .hero-right .header-right ul li a {
        text-decoration: none;
        font-size: 18px;
        color: #e5e7eb;
    }

.information {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

    .information h2 {
        font-size: 36px;
        font-weight: 900;
        color: #1f2937;
    }

    .information-container {
        display: flex;
        justify-content: space-around;
    }

        .information-container .information-img {
            display: flex;
            flex-direction: column;
            width: 20%;
            text-align: center;
            align-items: center;
        }

            .information-container .information-img .img-container {
                border: 2px solid lightskyblue;
                height: 150px;
                width: 150px;
                border-radius: 8px;
            }


.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    .quote-body {
        width: 50%;
    }
    
    .quote-body .quote-content {
        font-size: 36px;
        font-weight: 100;
        font-style: italic;
        color: #1f2937;
        
    }

    .quote-body .quote-person {
        text-align: end;
    }

.sign-up {
    padding: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

    .sign-up-content {
        
        background-color: #3882f6;
    }

footer {
    background-color: #1f2937;
} */

button {
    background-color: #3882f6;
}
